*{
    box-sizing: border-box;
}
 
 .navbar{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    min-height: fit-content;  
    text-decoration: none;   
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.navbar-brand{
    
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;   
    text-decoration: none;
    font-weight: bold;
    display: flex; 
    margin: 0;
    padding: 0
    
}
.navbar-brand:hover,
.navbar-brand:active
{
    color: blueviolet;
}


img.d-inline-block{   
    padding: 0px;
}
ul.navbar-nav{
    margin-left: 1300px;
    letter-spacing: 2px;   
     
}

.nav-item:hover,
.nav-item:active {
    color:rgb(114, 17, 211)
}

.nav-item{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    color:inherit;
    
}
.nav-item_spec_cta{
    background:blueviolet;
    padding: 0px 6px;
    border-radius: 8px;
}

.nav-item_spec_cta:hover,
.nav-item_spec_cta:active {
    color: white;
    background:rgb(218, 18, 71);
    border-radius: 8px;
}

a:-webkit-any-link{
    
    align-items: center;
    
}

.carouselCarton{
    margin-top: 90px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;  
    width: fit-content;
}

.section__carousel{
    background-color: #FFCCE1;

}

.c-item{
 
        max-height: 500px;
        max-width: fit-content;
    
} 
.c-img{
        
        max-height: 100%;
        object-fit: cover;
        filter: brightness, 0.6;
        max-width: fit-content;
       
    }

    .main{
       
        width: 100%;
        height:100vh;
    }
    video{
       height:100%;  
       width:100%;          
       object-fit: cover;
       animation-duration: 3s;
        
    }
    .content {
        position: absolute;
        height: 100%;
        width:100%;
        top:53px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: rgb(1, 1, 1);
       
    }
    .overlay{
        position: absolute;
        top: 37px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.1);
    }  
    .card-image-home {
        width:fit-content;

    }

    .row{
        padding: 10px 10px 20px 10px;
    }

    .welcome__text{
        font-weight: bold;
        color:rgb(218, 18, 71);
    }
.welcome__text_p{
    color: white;
}